.uploader-tabs .active {
  border-bottom: 1px solid #0161cd;
  padding-bottom: 15px;
  color: #333;
}

.tabs .active {
  color: #333;
  border-bottom: 2px solid #1d262d;
  padding-bottom: -10px;
}
.tab-labels {
  display: flex;
}
.tabs .tab {
  color: #767d8b;
  font-weight: 600;
  font-size: 17px;
}

.tabs .active {
  color: #333;
  border-bottom: 2px solid #1d262d;
  padding-bottom: -10px;
}

.tab-labels button {
  padding: 8px 16px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.tab-labels button.active {
  border-bottom-color: #00bcd4;
}

.tab-content {
  margin-top: 16px;
  color: #fff;
}

/* /hidden-uploader-sidebar / */
.hidden-uploader-sidebar {
  position: absolute;
  right: 90000px;
  height: 100%;
  background: #ffffff;
  color: #fff;
  top: 0;
  z-index: 5;
  width: 40%;
}

.block-uploader-sidebar {
  right: 0;
}
