.next-festivities-box:hover .next-article-search {
  color: #000;
}

.next-festivities-box .hiOutlineArrow {
  color: #000;
  font-size: 0;
  transition: all 0.5s;
}

.next-festivities-box:hover .hiOutlineArrow {
  color: #000;
  font-size: 15px;
}
/* / latest tends style /
  / latest-trends-single-items / */
.latest-trends-single-items .latest-trends-single-items-image img {
  transition: all 0.2s;
}
.latest-trends-single-items:hover .latest-trends-single-items-image img {
  transform: scale(1.03);
}

/* / slider far and near style / */
/* 
  .slide-far .slide-left-content {
    margin-right: -900px;
    top: 0;
    transition: all.5s;
  }
  
  .slide-near .slide-right-content {
    margin-left: 0px;
    top: 0;
    transition: all.5s;
  } */

.slide-far,
.slide-near {
  transition: 0.5s;
}
.slide-near {
  margin: 0;
}
.slide-far {
  margin-left: -730px;
}
